{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/convocation.css' %}">
<script src="{% static 'js/convocation.js' %}"></script>
<div id="root" class="container container-fluid my-4 py-2">
    <div id="mainLabel" class="text-center"> 
        <h2><strong >Infrastructure Facilities</strong></h2>
    </div>
    <br>

    <p style="text-align: justify;">
        We have the State-of-the-art Placement Cell infrastructure which comprises of Auditorium, GD Panel rooms, Closed Interview Panels, and HR Panel. The entire facility is designed keeping in mind to ensure that both students and the recruiters have comfortable recruitment experience.
    </p>
    <br>

    <div  class="gallery-container">
        <!-- Swiper Carousel -->
        <div class="swiper mySwiper" id="gallerybox">
            <div class="swiper-wrapper">
                {% for image in Facilities %}
                    <div class="gallery-slide swiper-slide">
                        <img  src="{% static image.pic %}" class="gallery-image" data-index="{{ forloop.counter0 }}">
                        <p class="image-description">{{ image.name }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
