{% extends 'core/base.html' %}

{% load static %}


{% block content %}
<div id="root" class="container">
    <div class="container justify-content-center mt-3 p-2" id="title" style="display: flex;">
        <strong class="h2 text-center">Alumni-relations</strong>
    </div>
  
    <p style="padding:5%; text-align: justify;">On behalf of the Faculties, the Staff, and the Students of National Institute of Technology Puducherry (NITPY), I extend my greetings to all. Alumni forms an integral part of any institute, and serves as the face of the institute for the outside world. The delight of our alumni holding glorious positions in various sectors across the globe brings immense pride and pleasure to us. Alumni play a vital role in establishing the brand name for the Institution.<br><br>
   Our Alumni association will serve as a platform for interaction among the alumni and our current students and faculty. It’s a pleasant feeling to get connected with one's Alma Mater, and likewise the institute is also elated to recognize the various achievements of its former students. We count on our Alumni and welcome their contribution to make this alumni association a great success and bring laurels to NITPY.<br><br>
    <a href="https://www.nitpyalumni.com/home/index">For More Details</a></p>
  
  </div>
  
{% endblock %}
