{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/table.css' %}">

<div id="root" class="container container-fluid my-4 py-2">
    <div id="mainLabel" class="text-center">
      <strong class="h1">Anti ragging</strong>
    </div>
    <br>
  
    <p>All students are hereby asked to go through the guidelines below based on the UGC
      Regulations to Curb Ragging in Higher Education Institutions.</p><br>
  
  
      <h4 style="text-align: center;"><b>ANTI-RAGGING COMMITTEE – 2024-2025</b></h4><br>
      <table  style="border: 1;">
        <tr>
          <th>Type</th>
          <th>Person Name</th>
          <th>Designation</th>
          <th>Mobile</th>
          <th>Email</th>
        </tr>
        <tr>
          <td>HEI-ARC</td>
          <td>Dr. N. Sendhil Kumar</td>
          <td>Dean (Students Welfare)</td>
          <td>9597541522</td>
          <td>dean-sw(at)nitpy(dot)ac(dot)in</td>
        </tr>
        <tr>
          <td>HEI-ARC</td>
          <td>Dr. Lakshmi Sutha</td>
          <td>Dean (Academics)</td>
          <td>9751953651</td>
          <td>dean.acad(at)nitpy(dot)ac(dot)in</td>
        </tr>
        <tr>
          <td>HEI-ARC</td>
          <td>Dr. Sundaravarathan S</td>
          <td>Registrar</td>
          <td>9488576362</td>
          <td>registrar(at)nitpy(dot)ac(dot)in</td>
        </tr>
        <tr>
          <td>HEI-ARC</td>
          <td>Dr. N.M. Sivaraman</td>
          <td>Chief Warden</td>
          <td>9342061782</td>
          <td>chief-warden(at)nitpy(dot)ac(dot)in</td>
        </tr>
        <tr>
          <td>HEI-ARC</td>
          <td>Dr. V. Vani</td>
          <td>Associate Dean, Student Welfare</td>
          <td>9840483006</td>
          <td>ad-studentwf(at)nitpy(dot)ac(dot)in</td>
        </tr>
        <tr>
          <td>HEI-ARC</td>
          <td>Dr. V. Balakumar</td>
          <td>Associate Dean, Student Welfare</td>
          <td>9750882942</td>
          <td>ad-studentwf(at)nitpy(dot)ac(dot)in</td>
        </tr>
        <tr>
          <td>HEI-WARDENS</td>
          <td>Dr. Ashok Kumar T.</td>
          <td>Hostel Warden</td>
          <td>7402388826</td>
          <td>warden-bh1(at)nitpy(dot)ac(dot)in</td>
        </tr>
        <tr>
          <td>HEI-WARDENS</td>
          <td>Dr. Gowrishankar S</td>
          <td>Hostel Warden</td>
          <td>9489028849</td>
          <td>warden-bh1(at)nitpy(dot)ac(dot)in</td>
        </tr>
        <tr>
          <td>HEI-WARDENS</td>
          <td>Dr. Hemachander A</td>
          <td>Hostel Warden</td>
          <td>9490389992</td>
          <td>warden-bh2(at)nitpy(dot)ac(dot)in</td>
        </tr>
        <tr>
          <td>HEI-WARDENS</td>
          <td>Dr. Sunanda Ambulker</td>
          <td>Hostel Warden</td>
          <td>9893398850</td>
          <td>sunanda.a(at)nitpy(dot)ac(dot)in</td>
        </tr>
        <tr>
          <td>HEI-ARC</td>
          <td>Dr. Chandra Sekar</td>
          <td>Security Chairman</td>
          <td>8610637486</td>
          <td>chm-security(at)nitpy(dot)ac(dot)in</td>
        </tr>
        <tr>
          <td>HEI-ARC</td>
          <td>Dr. S. Babu</td>
          <td>Senior Student Activities and Sports Officer</td>
          <td>9790486406</td>
          <td>babu(at)nitpy(dot)ac(dot)in</td>
        </tr>
        <tr>
          <td>HEI-ARC</td>
          <td>Mr. Asif Rijo</td>
          <td>Student Council</td>
          <td>9957562725</td>
          <td>asifrijo03(at)gmail(dot)com</td>
        </tr>
        <tr>
          <td>POLICE</td>
          <td>Mr. P. Balachandiran PPS</td>
          <td>Superintendent of Police (North)</td>
          <td>9443173129</td>
          <td>spn.kkL.py(at)gov(dot)in</td>
        </tr>
        <tr>
          <td>OTHER</td>
          <td>Mr. N.S. Selvamuthukumarasamy</td>
          <td>Staff Correspondent - Dinamani</td>
          <td>9446546238</td>
          <td>nsskmsamy(at)gmail(dot)com</td>
        </tr>
        <tr>
          <td>OTHER</td>
          <td>Dr. Krishna Prasad</td>
          <td>Principal, B.Ed., College - Second Year Student Parent</td>
          <td>9434736536</td>
          <td>kp31082002(at)gmail(dot)com</td>
        </tr>
        <tr>
          <td>OTHER</td>
          <td>Dr. Sivakumar Ramalingam</td>
          <td>HOD, Civil Engineering</td>
          <td>9384708741</td>
          <td>sivakumar.r(at)nitpy(dot)ac(dot)in</td>
        </tr>
        <tr>
          <td>OTHER</td>
          <td>Dr. Ansuman Mahapatra</td>
          <td>HOD, Computer Science and Engineering</td>
          <td>7008130003</td>
          <td>ansuman.mahapatra(at)nitpy(dot)ac(dot)in</td>
        </tr>
        <tr>
          <td>OTHER</td>
          <td>Dr. Malaya Kumar Nath</td>
          <td>HOD, Electronics and Communication Engineering</td>
          <td>9488971484</td>
          <td>malaya.nath(at)nitpy(dot)ac(dot)in</td>
        </tr>
        <tr>
          <td>OTHER</td>
          <td>Dr. Kopurendivei G</td>
          <td>HOD, Electrical and Electronics Engineering</td>
          <td>8903961788</td>
          <td>kopurendivei(at)nitpy(dot)ac(dot)in</td>
        </tr>
        <tr>
          <td>OTHER</td>
          <td>Dr. Johnney Mertens A</td>
          <td>HOD, Mechanical Engineering</td>
          <td>8473994769</td>
          <td>johnney.m(at)nitpy(dot)ac(dot)in</td>
        </tr>
        <tr>
          <td>OTHER</td>
          <td>Dr. Ajay Kumar Mishra</td>
          <td>HOD, Physics</td>
          <td>929655922</td>
          <td>akmishra(at)nitpy(dot)ac(dot)in</td>
        </tr>
        <tr>
          <td>OTHER</td>
          <td>Dr. Amrtha Bhide</td>
          <td>HOD, Department of Education</td>
          <td>9443477707</td>
          <td>amrthabhide(at)nitpy(dot)ac(dot)in</td>
        </tr>
        <tr>
          <td>OTHER</td>
          <td>Dr. Govindaraj V</td>
          <td>HOD, Mathematics</td>
          <td>8608132024</td>
          <td>govindaraj.v(at)nitpy(dot)ac(dot)in</td>
        </tr>
        <tr>
          <td>OTHER</td>
          <td>Dr. Krupa Shah</td>
          <td>HOD, English</td>
          <td>8988311257</td>
          <td>krupa.shah(at)nitpy(dot)ac(dot)in</td>
        </tr>
        <tr>
          <td>OTHER</td>
          <td>Dr. Poonguzhali Elamvazhuthi</td>
          <td>HOD, Chemistry</td>
          <td>9344921052</td>
          <td>poonguzhali.e(at)nitpy(dot)ac(dot)in</td>
        </tr>
        <tr>
          <td>HEI-ARS</td>
          <td>Dr. Sundaravarathan S</td>
          <td>Registrar</td>
          <td>9488576362</td>
          <td>registrar(at)nitpy(dot)ac(dot)in</td>
        </tr>
        <tr>
          <td>HEI-ARS</td>
          <td>Dr. Sendhil Kumar N.</td>
          <td>Dean, Student Welfare</td>
          <td>9597541522</td>
          <td>dean-sw(at)nitpy(dot)ac(dot)in</td>
        </tr>
        <tr>
          <td>HEI-ARS</td>
          <td>Dr. Balakumar V</td>
          <td>Associate Dean, Student Welfare</td>
          <td>9750882942</td>
          <td>ad-studentwf(at)nitpy(dot)ac(dot)in</td>
        </tr>
        <tr>
          <td>HEI-ARS</td>
          <td>Dr. Vani V</td>
          <td>Associate Dean, Student Welfare</td>
          <td>9840483006</td>
          <td>ad-studentwf(at)nitpy(dot)ac(dot)in</td>
        </tr>
        <tr>
          <td>DISTRICT-OFFICIALS</td>
          <td>Mr. P. Balachandiran PPS</td>
          <td>Superintendent of Police (North)</td>
          <td>9443173129</td>
          <td>spn.kkL.py(at)gov(dot)in</td>
        </tr>
        <tr>
          <td>DISTRICT-OFFICIALS</td>
          <td>Dr. Seenivasan Vedachalam</td>
          <td>Under Graduate - First-Year Coordinator</td>
          <td>8220462345</td>
          <td>seenivasan.v(at)nitpy(dot)ac(dot)in</td>
        </tr>
      </table>
      <!-- <img src="assets/docs/studentwelfare/Anti-Ragging/Anti ragging 2024.jpg" alt="Description of the image" width="1300" height="1000"> -->
   <br>
   <h5> Definition of Ragging:</h5><br>
  
  
    ● Any conduct whether by words spoken or written or by an act which has the effect of
    teasing, treating or handling with rudeness any other student<br>
    ● Indulging in rowdy or undisciplined activities which causes or is likely to cause
    annoyance, hardship or psychological harm or to raise fear or apprehension thereof in a
    fresher or a junior student<br>
    ● Asking the students to do any act or perform something which such student will not do in
    the ordinary course and which has the effect of causing or generating a sense of shame or
    embarrassment so as to adversely affect the physique or psyche of a fresher or a junior
    student.<br><br>
    <h5>Punishable offences under Ragging:</h5>
    1. Abetment to ragging;<br>
    2. Criminal conspiracy to rag;<br>
    3. Unlawful assembly and rioting while ragging;<br>
    4. Public nuisance created through ragging<br>
    5. Injury to body, causing hurt or grievous hurt;<br>
    6. Wrongful restraint<br>
    7. Wrongful confinement<br>
    8. Use of criminal force<br>
    9. Assault as well as any form of sexual offence<br>
    10. Extortion<br>
    11. Criminal trespass<br>
    12. Offences against property<br>
    13. Criminal intimidation<br>
    14. Attempts to commit any or all the above-mentioned offences against the victim(s)<br>
    15. Physical or psychological humiliation<br>
    16. All other offences following from the definition of ‘Ragging’
    <br><br>
    <h5>How to seek help?</h5>
    Students in distress can use the following methods to secure assistance:<br>
    ● Notify the nearest concerned institutional authority or member of the Anti-Ragging
    Squad at the institute.<br>
    ● Call the UGC Anti-Ragging Helpline (1800-180-5522, 24 × 7 toll free)<br>
    ● Send an email to helpline(at)antiragging.in<br><br>
   <h5> The Anti-Ragging Committee may, depending on the nature and gravity of the guilt
    established by the Anti-Ragging Squad, award, to those found guilty, one or more of the
    following punishments, namely;</h5><br><br>
    i. Suspension from attending classes and academic privileges.<br>
    ii. Withholding/ withdrawing scholarship/ fellowship and other benefits.<br>
    iii. Debarring from appearing in any test/ examination or other
    evaluation process.<br>
    iv. Withholding results.<br>
    v. Debarring from representing the institution in any regional,
    national or international meet, tournament, youth festival, etc.<br>
    vi. Suspension/ expulsion from the hostel.<br>
    vii. Cancellation of admission.<br>
    viii. Rustication from the institution for a period ranging from one to four semesters.<br>
    ix. Expulsion from the institution and consequent debarring from
    admission to any other institution for a specified period.<br>
    x. Collective punishment: When the persons committing or
    abetting the act of ragging, are not identified, the institution
    shall resort to collective punishment.<br><br>
  
    <div class="row my-2 py-4">
      {% for index in files %}
      <div class="col text-center">
          <a href="{{index.url}}">
              <div id="doc-box">
                  <svg width="110px" height="170px" viewBox="0 0 16 16" class="bi bi-file-earmark-text" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M4 0h5.5v1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h1V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2z" />
                    <path d="M9.5 3V0L14 4.5h-3A1.5 1.5 0 0 1 9.5 3z" />
                    <path fill-rule="evenodd"
                      d="M5 11.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z" />
                  </svg>
                  <br>{{index.filename}}&nbsp;<span class="badge badge-danger" *ngIf="index.new">NEW</span>
              </div>
          </a>
      </div>
      {% endfor %}
      </div>
  
  
  <h5>Any institution that fails to take adequate steps to prevent ragging or fails to act in accordance with the Regulations or fails to punish perpetrators or incidents of ragging suitably is liable to the penalties and punishments as per the provisions of the Regulations.
  </h5>
  
  <div class="container">
    <div class="row my-2 py-4">
      {% for index in file|slice:":5" %}
      <div class="col text-center" >
          <a href="{{index.url}}">
              <div id="doc-box">
                  <svg width="110px" height="170px" viewBox="0 0 16 16" class="bi bi-file-earmark-text" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M4 0h5.5v1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h1V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2z" />
                    <path d="M9.5 3V0L14 4.5h-3A1.5 1.5 0 0 1 9.5 3z" />
                    <path fill-rule="evenodd"
                      d="M5 11.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z" />
                  </svg>
                  <br>{{index.filename}}&nbsp;<span class="badge badge-danger" *ngIf="index.new">NEW</span>
              </div>
          </a>
      </div>
      {% endfor %}
    </div>
  
    <div class="row my-2 py-4">
      {% for index in file|slice:"5:10" %}
      <div class="col text-center" >
          <a href="{{index.url}}">
              <div id="doc-box">
                  <svg width="110px" height="170px" viewBox="0 0 16 16" class="bi bi-file-earmark-text" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M4 0h5.5v1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h1V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2z" />
                    <path d="M9.5 3V0L14 4.5h-3A1.5 1.5 0 0 1 9.5 3z" />
                    <path fill-rule="evenodd"
                      d="M5 11.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z" />
                  </svg>
                  <br>{{index.filename}}&nbsp;<span class="badge badge-danger" *ngIf="index.new">NEW</span>
              </div>
          </a>
      </div>
      
      {% endfor %}
    </div>
  </div>
  
  </div>
  

{% endblock%}