{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<div id="root" class="container container-fluid my-4 py-2">
    <div id="mainLabel" class="text-center">
      <strong class="h1">Counselling Services</strong>
    </div>
    <br>
    <div id="txtContent" class="text-justify p-3">
      <strong>Manodarpan</strong>
      <p>An initiative by the Ministry of Education ( formerly) Human Resource Development, Government of India as part of
        Atma Nirbhar Bharat Abhiyan.
        <br>This portal is to provide Psychosocial Support for Mental Health & Well Being of Students during the COVID
        Outbreak and beyond.
        <br>Further details can be obtained at: <a
          href="https://manodarpan.education.gov.in/">https://manodarpan.education.gov.in/</a>
        <br>National Toll-Free Helpline Number: 844 844 0632 (to address students' psychosocial issues)</p>
      <br><a href="https://telemanas.mohfw.gov.in/#/home">National Tele-Mental Health Programme of India</a><br><br>
      <strong>Your Dost</strong>
      <p>Students of NIT Puducherry can register with Your DOST through Institute internet services. Thereafter, the
        student can avail 24x7 services irrespective of his location using same device. All conversations and counseling
        details will be confidential with the student and the counselor only.
        <br>Further details can be obtained at: <a href="https://yourdost.com">https://yourdost.com</a>
        <br>For any issues please reach out to us on:<br>
        Email : customersupport&amp;yourdost.com<br>
        Phone : 08047097654
  
        <!-- For any emergency email to campus@yourdost.com and phone ( hotline) 08047097654 --><br>
  <b><a href="/static/docs/studentwelfare/YourDost/NITP - Steps To Login.pdf"> Steps to log in to YourDOST</a><br><br>
  <a href="/static/docs/studentwelfare/YourDost/NIT P-YourDOST.pdf"> Make mental health a priority</a><br></b>
  
      </p>
    </div>
  </div>
  
{%endblock%}