{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<div id="root" class="container container-fluid my-4 py-2">
    <div id="mainLabel" class="text-center">
      <strong class="h1">Grievance Redressal</strong>
    </div>
    <br>
    <div id="txtContent" class="text-justify p-3">


<li>A Grievance redressal system functions round the clock to interact,
counsel, and resolve the problems faced by the students.</li><br>
<li> A highly dedicated team led by the Dean (Students Welfare) ensures
that the grievances of the students are addressed and resolved
immediately.</li><br>
<li> For lodging the grievance, the student is required to send an email to
<b>dean-sw@nitpy.ac.in</b></li>
</div>

{%endblock%}