{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<div id="root" class="container container-fluid">
  <br>
    <div id="main_lbl" class="text-center">
      <h1><strong >Students Activities</strong></h1>
    </div>
   <br>
  <h4 style="text-align: justify;"> Sports and Games</h4>
  <p>
  Sports activities help the students to cast their personality through physical, emotional and social well-being. A true sportsman will have an ability to observe, analyze and take a decision in a spurt of moment. Sports and Games will thus inculcate interpersonal relationship, team work, and cooperative workmanship required for an engineer and to lead a high standards of social and professional life. </p>
  <h4>Sport specialties </h4>
  <p style="text-align: justify;">
  At present NIT Puducherry has basketball and indoor Badminton court. Apart from these, students can access fitness center with multi gym and modern fitness facilities. NIT Puducherry has identified and area of 68,083 m2 and initiated work of establishing modern sports and games facilities like tennis courts, football and hockey fields, handball ground and Kho-Kho and Kabaddi courts. Also, an athletic field with 400 sq.m synthetic track is also been planned. Indoor sports complex and stadium has been proposed in 3958 sq. area with wooden flooring, and dormitory facilities for players and the officials during the events. </p>
  <h4>Blood Donation Camps</h4>
  <p style="text-align: justify;">
    Blood Donation drive by the NIT Puducheery students at General Hospital Karaikal </p>
  <div class="container p-4 justify-content-center col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6"
          style="display: flex;">
          <img style="width: 100%; height: 100%;" src="/static/images/instituteCarousel/homegallery/2022/06/Blood Donation Camp at General Hospital Karaikal.jpg">
        </div>
  </div>
  <br><br>
  
{%endblock%}