{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/profile.css' %}">
<div class="container my-5">
    <div class="text-center mb-5">
        <h2 class="font-weight-bold">Student Welfare</h2>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-10 text-center">
            <p>
                The spirit of being in NITPY is the freedom to pursue academics, other personality development extra curricular activities. The best part about NIT PY is that the intake of students is from all over India of different states/culture/language. As most of the students stay in hostel, it gives them a chance to really know about each other. Everyone learns to respect the different lifestyle of each individual. Participation in Extracurricular activities like NCC, NSS, literary clubs, innovation club, photographic clubs and students' chapters of professional societies give student ample opporunity for developing leadership qualities. Students of the campus are regulated by Student Conduct and Disciplinary Code and by Rules and Regulations for Hostel Residents
            </p>
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="col-12 text-center">
            <h5 class="fw-bold">Deans</h5>

        </div>
    </div>

    <div class="d-flex flex-column align-items-center gap-5">
        {% for staff in dean_list %}
        <div class="row w-100 justify-content-center align-items-center mb-4">
            <div class="col-md-2 d-flex justify-content-center">
                {% if staff.static_img %}
                    <img src="{% static staff.static_img %}" alt="{{ staff.name }}" class="oval-img">
                {% else %}
                    <img src="{% static 'images/default-profile.png' %}" alt="No Image" class="oval-img">
                {% endif %}
            </div>
            <div class="col-md-6">
                <div style="font-size:1.15rem;">
                    <p><b>Name :</b> {{ staff.name }}</p>
                    <p><b>Designation :</b> {{ staff.designation }}</p>
                    <p><b>Role :</b> {{ staff.role_set.first.role }}</p>
                    <p><b>E-Mail :</b> 
                        {% if staff.role_set.first.mail %}
                            {{ staff.role_set.first.mail }}
                        {% else %}
                            {{ staff.email }}
                        {% endif %}
                    </p>
                    <p><b>Phone :</b> {{ staff.role_set.first.phone|default:staff.phone }}</p>
                    {% if staff.mobile %}
                        <p><b>Mobile :</b> {{ staff.mobile }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="row justify-content-center mt-5">
        <div class="col-12 text-center">
            <h5 class="fw-bold">Associate Deans</h5>

        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12">
            <h4 class="fw-bold" style="text-align: left;">Contact:</h4>
        </div>
    </div>

    <div class="d-flex flex-column align-items-center gap-5">
        {% for staff in associate_dean_list %}
        <div class="row w-100 justify-content-center align-items-center mb-4">
            <div class="col-md-2 d-flex justify-content-center">
                {% if staff.static_img %}
                    <img src="{% static staff.static_img %}" alt="{{ staff.name }}" class="oval-img">
                {% else %}
                    <img src="{% static 'images/default-profile.png' %}" alt="No Image" class="oval-img">
                {% endif %}
            </div>
            <div class="col-md-6">
                <div style="font-size:1.15rem;">
                    <p><b>Name :</b> {{ staff.name }}</p>
                    <p><b>Designation :</b> {{ staff.designation }}</p>
                    <p><b>Role :</b> {{ staff.role_set.first.role }}</p>
                    <p><b>E-Mail :</b> 
                        {% if staff.role_set.first.mail %}
                            {{ staff.role_set.first.mail }}
                        {% else %}
                            {{ staff.email }}
                        {% endif %}
                    </p>
                    <p><b>Phone :</b> {{ staff.role_set.first.phone|default:staff.phone }}</p>
                    {% if staff.mobile %}
                        <p><b>Mobile :</b> {{ staff.mobile }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}