{% extends 'core/base.html' %}

{% load static %}


{% block content %}

<div id="root" class="container container-fluid my-4 py-2">
  <div id="main_lbl" class="text-center">
    <strong class="h1">Academic Calendars</strong>
  </div>
  <br>
  {% for item in calendar %}
    <div class="text-justify">
      <hr>
      <a href="{% static item.url %}">{{ item.title }}&nbsp;
        {% if item.new %}
          <span class="badge badge-danger">NEW</span>
        {% endif %}
      </a>
    </div>
  {% endfor %}
</div>

{% endblock %}
