{% extends 'core/base.html' %}

{% load static %}
{% block content %}

<div id="root" class="container container-fluid my-4 py-2">
  <div id="main_lbl" class="text-center">
    <strong class="h1">ID Cards</strong>
  </div>
  <br>
  <div id="txtContent" class="text-justify">
    <h5>REGISTRATION PROCESS</h5>

    <p>To obtain ID cards, the steps are as follows:
      <li> Have the soft copy (passport size) of your recent photograph in your pen drive (or) laptop before proceeding to registration.</li>

      <li>Save the photo as “your Roll Number.jpg”.     Eg. CS18B1001.jpg</li>

      <li> Save the signature as “your RollnoSign.jpg or rollnoS.jpg. ”    Eg. "CS18B1001Sign.jpg" or "CS18B1001S.jpg"</li>



 <h5>Enter the details by clicking the following link:</h5>
<a href="https://accounts.google.com/ServiceLogin/signinchooser?service=wise&passive=1209600&continue=https%3A%2F%2Fdocs.google.com%2Fforms%2Fd%2Fe%2F1FAIpQLSf3BTYqJ8S5UxkXAO84C2IcGh008qYvB_4ZjLuZb3W0Lknojw%2Fviewform%3Fusp%3Dsend_form&followup=https%3A%2F%2Fdocs.google.com%2Fforms%2Fd%2Fe%2F1FAIpQLSf3BTYqJ8S5UxkXAO84C2IcGh008qYvB_4ZjLuZb3W0Lknojw%2Fviewform%3Fusp%3Dsend_form&ltmpl=forms&flowName=GlifWebSignIn&flowEntry=ServiceLogin">ID card registration form for 2018 Batch student</a>
</div>

{% endblock %}
