{% extends 'core/base.html' %}

{% load static %}
{% block content %}
<style>
    a {
  color:blue;
}
a:hover {
  color: red;
  text-decoration: none;
}

</style>
<div id="root" class="container container-fluid my-4 py-2">
  <div id="main_lbl" class="text-center">
    <strong class="h1">Scholarship</strong>
  </div>
  <br>
  <div id="txtContent" class="text-justify">
    <h5 style="text-align: center;">Sh. Dorilal Agrawal Meritorious Scholarship-2021 for the physically challenged students</h5>
    <a href="{% static 'pdf/Scholarship/Application Form for Medical & Engg. English 2021.pdf' %}" style="font-size: 20px;">Application in English</a><br><br>
    <a href="{% static 'pdf/Scholarship/Application Form for Medical & Engg. Hindi 2021.pdf' %}" style="font-size: 20px;"> Application in Hindi</a><br><br>

    <h5 style="text-align: center;">Scholarship for Backward class students from TN students studying at NIT:</h5>
    <a href="{% static 'pdf/Scholarship/Scholarship  Instruction to Institution 13.01.2021.pdf' %}" style="font-size: 20px;"> welfare of Backward classes - Scholarship to BC, MBC & DNC Students from Tamil Nadu - Studying in NIT/IIT/IIM/IIIT</a><br><br>
    
    <h5 style="text-align: center;">Attention for First Years! Regarding National Scholarship Program</h5>
    <a href="{% static 'pdf/Scholarship/Notice For Applying NSP scheme for the freshers.pdf' %}" style="font-size: 20px;"> Notice For Applying NSP scheme for the freshers</a><br><br>
    <a href="{% static 'pdf/Scholarship/NSP Standdard Operating Procedure.pdf' %}" style="font-size: 20px;"> 1. NSP Standard Operating Procedure</a><br><br>
    <a href="{% static 'pdf/Scholarship/PPT for Registration and applying to NSP 2.0 Work Flow.pptx' %}" style="font-size: 20px;">  2. PPT for registering and applying on NSP 2.0</a><br><br>
    <a href="{% static 'pdf/Scholarship/Procedure for Bonafide certificate.pdf' %}" style="font-size: 20px;">  3. Procedure for availing Bonafide Certificate</a><br><br>
    <a href="{% static 'pdf/Scholarship/Procedure for Institute fee structure.pdf' %}" style="font-size: 20px;"> 4. Procedure for obtaining Institute fee structure.</a><br><br>
    <a href="{% static 'pdf/Scholarship/Procedure for Hostel fee structure- revised.pdf' %}" style="font-size: 20px;">  5. Procedure for obtaining Hostel fee structure</a><br><br>
    <a href="{% static 'pdf/Scholarship/Procedure for Institute Level verification.pdf' %}" style="font-size: 20px;"> 6. Procedure for Institute Level Verification</a><br><br>
    
    <h5 style="text-align: center;">NSP</h5>
    <a href="https://scholarships.gov.in/" style="font-size: 20px;">National Scholarship Portal is open for Fresh and Renewal Applications. For details:</a><br><br>
    <a href="{% static 'pdf/Scholarship/NSP Notice.pdf' %}" style="font-size: 20px;"> Notice for the year 2020-21</a><br><br>
    <a href="{% static 'pdf/Scholarship/NSP_Operating procedure.pdf' %}" style="font-size: 20px;"> Standard operating procedure</a><br><br>
    <a href="{% static 'pdf/Scholarship/NSP procedure for Bonafide- marksheet-verification at Institute.pdf' %}" style="font-size: 20px;"> NSP procedure for Bonafide- marksheet-verification at Institute..</a><br><br>
    
    <h5 style="text-align: center;">Top-class education for SC Student- 2020-21</h5>
    <a href="{% static 'pdf/Scholarship/Notice- Top class education for SC students.pdf' %}" style="font-size: 20px;">1. Notice</a><br><br>
    <a href="{% static 'pdf/Scholarship/Ministry Scholarship- top class for SC.pdf' %}" style="font-size: 20px;">2. Central Sector Scholarship Scheme of Top-class education for SC Students for the year 2020-21</a><br><br>
    
    <h5 style="text-align: center;">Postmetric Scholarship- Govt of Puducherry</h5>
    <a href="{% static 'pdf/Scholarship/post matric scholarship to obc-UT of Puducherry.pdf' %}" style="font-size: 20px;">Instructions - Post Metric Scholarship for OBC/MBC students from UT of Puducherry</a><br><br>
    
    <h5 style="text-align: center;">Other Scholarships</h5>
    <a href="{% static 'pdf/Scholarship/Scholarship Announcement- HAMDARD NATIONAL FOUNDATION.pdf' %}" style="font-size: 20px;">Attachment</a><br><br>
  </div>
</div>
{% endblock %}
