{% extends 'core/base.html' %}

{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/convocation.css' %}">      
<script src="{% static 'js/convocation.js' %}"></script>
<div class="container">
    <br>
     <h6 style="text-align: center; padding-top: 15px;"><strong>Choose one of the Following Categories to search for your Form</strong></h6>

    <br>
    <div id="rootWrapper">
        <div id="root" class="container"><br>
          <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
        <div class="card">
           <div class="card-header" role="tab" id="heading">
            <a data-toggle="collapse" data-parent="#accordionEx" href="#collapse12" aria-expanded="true"
            aria-controls="collapse12">
             <h5 class="mb-0" style="text-align: center; color: aliceblue;">
                FORMS FOR FACULTY / STAFF
             </h5>
            </a>
            </div>
            <div id="collapse12" class="collapse" role="tabpanel" aria-labelledby="heading"
            data-parent="#accordionEx" style="border-style: solid;">
             {% for index in faculty %}
                <div class="panel-body border p-2">
                    <a id="item" href="{{ index.url }}" style="text-decoration: none">
                        {{ index.title }}&nbsp;
                        {% if index.new %}<span class="badge badge-danger">NEW</span>{% endif %}
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
              
        <div class="card">
            <div class="card-header" role="tab" id="heading">
             <a data-toggle="collapse" data-parent="#accordionEx" href="#collapse11" aria-expanded="true"
             aria-controls="collapse11">
              <h5 class="mb-0" style="text-align: center; color: aliceblue;">
                FORMS FOR STUDENTS
              </h5>
             </a>
             </div>
             <div id="collapse11" class="collapse show" role="tabpanel" aria-labelledby="heading"
             data-parent="#accordionEx" style="border-style: solid;">
              {% for index in students %}
                 <div class="panel-body border p-2">
                     <a id="item" href="{{ index.url }}" style="text-decoration: none">
                         {{ index.title }}&nbsp;
                         {% if index.new %}<span class="badge badge-danger">NEW</span>{% endif %}
                     </a>
                 </div>
                 {% endfor %}
             </div>
         </div><div class="card">
            <div class="card-header" role="tab" id="heading">
             <a data-toggle="collapse" data-parent="#accordionEx" href="#collapse10" aria-expanded="true"
             aria-controls="collapse10">
              <h5 class="mb-0" style="text-align: center; color: aliceblue;">
                FORMS FOR Ph.D (following 2024 regulation)
              </h5>
             </a>
             </div>
             <div id="collapse10" class="collapse " role="tabpanel" aria-labelledby="heading"
             data-parent="#accordionEx" style="border-style: solid;">
              {% for index in phd2024 %}
                 <div class="panel-body border p-2">
                     <a id="item" href="{{ index.url }}" style="text-decoration: none">
                         {{ index.title }}&nbsp;
                         {% if index.new %}<span class="badge badge-danger">NEW</span>{% endif %}
                     </a>
                 </div>
                 {% endfor %}
             </div>
         </div><div class="card">
            <div class="card-header" role="tab" id="heading">
             <a data-toggle="collapse" data-parent="#accordionEx" href="#collapse9" aria-expanded="true"
             aria-controls="collapse9">
              <h5 class="mb-0" style="text-align: center; color: aliceblue;">
                FORMS FOR Ph.D
              </h5>
             </a>
             </div>
             <div id="collapse9" class="collapse " role="tabpanel" aria-labelledby="heading"
             data-parent="#accordionEx" style="border-style: solid;">
              {% for index in phd %}
                 <div class="panel-body border p-2">
                     <a id="item" href="{{ index.url }}" style="text-decoration: none">
                         {{ index.title }}&nbsp;
                         {% if index.new %}<span class="badge badge-danger">NEW</span>{% endif %}
                     </a>
                 </div>
                 {% endfor %}
             </div>
         </div><div class="card">
            <div class="card-header" role="tab" id="heading">
             <a data-toggle="collapse" data-parent="#accordionEx" href="#collapse8" aria-expanded="true"
             aria-controls="collapse8">
              <h5 class="mb-0" style="text-align: center; color: aliceblue;">
                GENERAL FORMS
              </h5>
             </a>
             </div>
             <div id="collapse8" class="collapse " role="tabpanel" aria-labelledby="heading"
             data-parent="#accordionEx" style="border-style: solid;">
              {% for index in general %}
                 <div class="panel-body border p-2">
                     <a id="item" href="{{ index.url }}" style="text-decoration: none">
                         {{ index.title }}&nbsp;
                         {% if index.new %}<span class="badge badge-danger">NEW</span>{% endif %}
                     </a>
                 </div>
                 {% endfor %}
             </div>
         </div><div class="card">
            <div class="card-header" role="tab" id="heading">
             <a data-toggle="collapse" data-parent="#accordionEx" href="#collapse7" aria-expanded="true"
             aria-controls="collapse7">
              <h5 class="mb-0" style="text-align: center; color: aliceblue;">
                FORMS RELATED TO STORES & PURCHASE</h5>
             </a>
             </div>
             <div id="collapse7" class="collapse " role="tabpanel" aria-labelledby="heading"
             data-parent="#accordionEx" style="border-style: solid;">
              {% for index in stores %}
                 <div class="panel-body border p-2">
                     <a id="item" href="{{ index.url }}" style="text-decoration: none">
                         {{ index.title }}&nbsp;
                         {% if index.new %}<span class="badge badge-danger">NEW</span>{% endif %}
                     </a>
                 </div>
                 {% endfor %}
             </div>
         </div><div class="card">
            <div class="card-header" role="tab" id="heading">
             <a data-toggle="collapse" data-parent="#accordionEx" href="#collapse6" aria-expanded="true"
             aria-controls="collapse6">
              <h5 class="mb-0" style="text-align: center; color: aliceblue;">
                FORMS RELATED TO ACADEMICS
              </h5>
             </a>
             </div>
             <div id="collapse6" class="collapse " role="tabpanel" aria-labelledby="heading"
             data-parent="#accordionEx" style="border-style: solid;">
              {% for index in academics %}
                 <div class="panel-body border p-2">
                     <a id="item" href="{{ index.url }}" style="text-decoration: none">
                         {{ index.title }}&nbsp;
                         {% if index.new %}<span class="badge badge-danger">NEW</span>{% endif %}
                     </a>
                 </div>
                 {% endfor %}
             </div>
         </div><div class="card">
            <div class="card-header" role="tab" id="heading">
             <a data-toggle="collapse" data-parent="#accordionEx" href="#collapse5" aria-expanded="true"
             aria-controls="collapse5">
              <h5 class="mb-0" style="text-align: center; color: aliceblue;">
                FORMS RELATED TO R & C
              </h5>
             </a>
             </div>
             <div id="collapse5" class="collapse " role="tabpanel" aria-labelledby="heading"
             data-parent="#accordionEx" style="border-style: solid;">
              {% for index in research %}
                 <div class="panel-body border p-2">
                     <a id="item" href="{{ index.url }}" style="text-decoration: none">
                         {{ index.title }}&nbsp;
                         {% if index.new %}<span class="badge badge-danger">NEW</span>{% endif %}
                     </a>
                 </div>
                 {% endfor %}
             </div>
         </div><div class="card">
            <div class="card-header" role="tab" id="heading">
             <a data-toggle="collapse" data-parent="#accordionEx" href="#collapse4" aria-expanded="true"
             aria-controls="collapse4">
              <h5 class="mb-0" style="text-align: center; color: aliceblue;">
                FORMS RELATED TO NETWORKS AND SYSTEMS
              </h5>
             </a>
             </div>
             <div id="collapse4" class="collapse " role="tabpanel" aria-labelledby="heading"
             data-parent="#accordionEx" style="border-style: solid;">
              {% for index in networks %}
                 <div class="panel-body border p-2">
                     <a id="item" href="{{ index.url }}" style="text-decoration: none">
                         {{ index.title }}&nbsp;
                         {% if index.new %}<span class="badge badge-danger">NEW</span>{% endif %}
                     </a>
                 </div>
                 {% endfor %}
             </div>
         </div><div class="card">
            <div class="card-header" role="tab" id="heading">
             <a data-toggle="collapse" data-parent="#accordionEx" href="#collapse3" aria-expanded="true"
             aria-controls="collapse3">
              <h5 class="mb-0" style="text-align: center; color: aliceblue;">
                FORMS RELATED TO CPDA
              </h5>
             </a>
             </div>
             <div id="collapse3" class="collapse " role="tabpanel" aria-labelledby="heading"
             data-parent="#accordionEx" style="border-style: solid;">
              {% for index in cpda %}
                 <div class="panel-body border p-2">
                     <a id="item" href="{{ index.url }}" style="text-decoration: none">
                         {{ index.title }}&nbsp;
                         {% if index.new %}<span class="badge badge-danger">NEW</span>{% endif %}
                     </a>
                 </div>
                 {% endfor %}
             </div>
         </div><div class="card">
            <div class="card-header" role="tab" id="heading">
             <a data-toggle="collapse" data-parent="#accordionEx" href="#collapse2" aria-expanded="true"
             aria-controls="collapse2">
              <h5 class="mb-0" style="text-align: center; color: aliceblue;">
                FORMS RELATED TO MEDICAL
              </h5>
             </a>
             </div>
             <div id="collapse2" class="collapse " role="tabpanel" aria-labelledby="heading"
             data-parent="#accordionEx" style="border-style: solid;">
              {% for index in medical    %}
                 <div class="panel-body border p-2">
                     <a id="item" href="{{ index.url }}" style="text-decoration: none">
                         {{ index.title }}&nbsp;
                         {% if index.new %}<span class="badge badge-danger">NEW</span>{% endif %}
                     </a>
                 </div>
                 {% endfor %}
             </div>
         </div>
         
        <br>

    </div>
  </div>
</div>


{% endblock%}