{% extends 'core/base.html' %}

{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/convocation.css' %}">      
<script src="{% static 'js/convocation.js' %}"></script>
<div class="container">
    <br>
     <h6 style="text-align: center; padding-top: 15px;"><strong>Choose one of the Following Categories to search for your Form</strong></h6>

    <br>
    <div id="rootWrapper">
        <div id="root" class="container"><br>
          <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
        <div class="card">
            <div class="card-header" role="tab" id="heading">
             <a data-toggle="collapse" data-parent="#accordionEx" href="#collapse8" aria-expanded="true"
             aria-controls="collapse8">
              <h5 class="mb-0" style="text-align: center; color: aliceblue;">
                NIRF 2024
              </h5>
             </a>
             </div>
             <div id="collapse8" class="collapse show " role="tabpanel" aria-labelledby="heading"
             data-parent="#accordionEx" style="border-style: solid;">
              {% for index in reports24 %}
                 <div class="panel-body border p-2">
                     <a id="item" href="{{ index.url }}" style="text-decoration: none">
                         {{ index.title }}&nbsp;
                         {% if index.new %}<span class="badge badge-danger">NEW</span>{% endif %}
                     </a>
                 </div>
                 {% endfor %}
             </div>
         </div><div class="card">
            <div class="card-header" role="tab" id="heading">
             <a data-toggle="collapse" data-parent="#accordionEx" href="#collapse7" aria-expanded="true"
             aria-controls="collapse7">
              <h5 class="mb-0" style="text-align: center; color: aliceblue;">
                NIRF 2023</h5>
             </a>
             </div>
             <div id="collapse7" class="collapse " role="tabpanel" aria-labelledby="heading"
             data-parent="#accordionEx" style="border-style: solid;">
              {% for index in reports23 %}
                 <div class="panel-body border p-2">
                     <a id="item" href="{{ index.url }}" style="text-decoration: none">
                         {{ index.title }}&nbsp;
                         {% if index.new %}<span class="badge badge-danger">NEW</span>{% endif %}
                     </a>
                 </div>
                 {% endfor %}
             </div>
         </div><div class="card">
            <div class="card-header" role="tab" id="heading">
             <a data-toggle="collapse" data-parent="#accordionEx" href="#collapse6" aria-expanded="true"
             aria-controls="collapse6">
              <h5 class="mb-0" style="text-align: center; color: aliceblue;">
                NIRF 2022
              </h5>
             </a>
             </div>
             <div id="collapse6" class="collapse " role="tabpanel" aria-labelledby="heading"
             data-parent="#accordionEx" style="border-style: solid;">
              {% for index in reports22 %}
                 <div class="panel-body border p-2">
                     <a id="item" href="{{ index.url }}" style="text-decoration: none">
                         {{ index.title }}&nbsp;
                         {% if index.new %}<span class="badge badge-danger">NEW</span>{% endif %}
                     </a>
                 </div>
                 {% endfor %}
             </div>
         </div><div class="card">
            <div class="card-header" role="tab" id="heading">
             <a data-toggle="collapse" data-parent="#accordionEx" href="#collapse5" aria-expanded="true"
             aria-controls="collapse5">
              <h5 class="mb-0" style="text-align: center; color: aliceblue;">
                NIRF 2021
              </h5>
             </a>
             </div>
             <div id="collapse5" class="collapse " role="tabpanel" aria-labelledby="heading"
             data-parent="#accordionEx" style="border-style: solid;">
              {% for index in reports21 %}
                 <div class="panel-body border p-2">
                     <a id="item" href="{{ index.url }}" style="text-decoration: none">
                         {{ index.title }}&nbsp;
                         {% if index.new %}<span class="badge badge-danger">NEW</span>{% endif %}
                     </a>
                 </div>
                 {% endfor %}
             </div>
         </div><div class="card">
            <div class="card-header" role="tab" id="heading">
             <a data-toggle="collapse" data-parent="#accordionEx" href="#collapse4" aria-expanded="true"
             aria-controls="collapse4">
              <h5 class="mb-0" style="text-align: center; color: aliceblue;">
                NIRF 2020
              </h5>
             </a>
             </div>
             <div id="collapse4" class="collapse " role="tabpanel" aria-labelledby="heading"
             data-parent="#accordionEx" style="border-style: solid;">
              {% for index in reports20 %}
                 <div class="panel-body border p-2">
                     <a id="item" href="{{ index.url }}" style="text-decoration: none">
                         {{ index.title }}&nbsp;
                         {% if index.new %}<span class="badge badge-danger">NEW</span>{% endif %}
                     </a>
                 </div>
                 {% endfor %}
             </div>
         </div><div class="card">
            <div class="card-header" role="tab" id="heading">
             <a data-toggle="collapse" data-parent="#accordionEx" href="#collapse3" aria-expanded="true"
             aria-controls="collapse3">
              <h5 class="mb-0" style="text-align: center; color: aliceblue;">
                NIRF 2019
              </h5>
             </a>
             </div>
             <div id="collapse3" class="collapse " role="tabpanel" aria-labelledby="heading"
             data-parent="#accordionEx" style="border-style: solid;">
              {% for index in reports19 %}
                 <div class="panel-body border p-2">
                     <a id="item" href="{{ index.url }}" style="text-decoration: none">
                         {{ index.title }}&nbsp;
                         {% if index.new %}<span class="badge badge-danger">NEW</span>{% endif %}
                     </a>
                 </div>
                 {% endfor %}
             </div>
         </div><div class="card">
            <div class="card-header" role="tab" id="heading">
             <a data-toggle="collapse" data-parent="#accordionEx" href="#collapse2" aria-expanded="true"
             aria-controls="collapse2">
              <h5 class="mb-0" style="text-align: center; color: aliceblue;">
                NIRF 2018
              </h5>
             </a>
             </div>
             <div id="collapse2" class="collapse " role="tabpanel" aria-labelledby="heading"
             data-parent="#accordionEx" style="border-style: solid;">
              {% for index in reports18   %}
                 <div class="panel-body border p-2">
                     <a id="item" href="{{ index.url }}" style="text-decoration: none">
                         {{ index.title }}&nbsp;
                         {% if index.new %}<span class="badge badge-danger">NEW</span>{% endif %}
                     </a>
                 </div>
                 {% endfor %}
             </div>
         </div><div class="card">
            <div class="card-header" role="tab" id="heading">
             <a data-toggle="collapse" data-parent="#accordionEx" href="#collapse1" aria-expanded="true"
             aria-controls="collapse1">
              <h5 class="mb-0" style="text-align: center; color: aliceblue;">
                NIRF 2017
              </h5>
             </a>
             </div>
             <div id="collapse1" class="collapse " role="tabpanel" aria-labelledby="heading"
             data-parent="#accordionEx" style="border-style: solid;">
              {% for index in reports17  %}
                 <div class="panel-body border p-2">
                     <a id="item" href="{{ index.url }}" style="text-decoration: none">
                         {{ index.title }}&nbsp;
                         {% if index.new %}<span class="badge badge-danger">NEW</span>{% endif %}
                     </a>
                 </div>
                 {% endfor %}
             </div>
         </div>
         
        <br>

    </div>
  </div>
</div>


{% endblock%}