
{% load static %}
<div class="col-xs-12 col-sm-12 col-md-6 mb-2 mt-2">
    <div class="p-2 bg-white shadow rounded h-100" id="announcementWrapper">
        <h3 class="p-3">
            <a href="{% url 'gallery' %}" class="btn btn-link" style="font-size: 150%; color: black; text-decoration: none;">
                <h3><strong>Photo Gallery</strong></h3>
            </a>
        </h3>

        <div class="gallery-container">
            <!-- Swiper Carousel -->
            <div class="swiper mySwiper" id="gallerybox">
                <div class="swiper-wrapper">
                    {% for image in gallery_images %}
                        <div class=" gallery-slide swiper-slide">
                            <img src="{% static '' %}{{ image.url }}" alt="{{ image.description }}" class="gallery-image" data-index="{{ forloop.counter0 }}">
                            <p class="image-description">{{ image.description }}</p>
                        </div>
                    {% endfor %}
                </div>
                <div class="swiper-button-next gallerybox-btn" ></div>
                <div class="swiper-button-prev gallerybox-btn"></div>
            </div>
        </div>
    </div>
</div>

<!-- Lightbox Modal -->
<div id="lightbox" class="lightbox hidden">
    <div class="lightbox-content">
        <span class="close-lightbox">&times;</span>
        <img id="lightbox-image" src="" alt="">
        <p id="lightbox-description"></p>
        <div class="lightbox-navigation">
            <button id="prev-lightbox" class="lightbox-btn">&#10094;</button>
            <button id="next-lightbox" class="lightbox-btn">&#10095;</button>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
