{% extends 'netandsys/netandsys.html' %}
{% load static %}

{% block subcontent %}

<div style="text-align: justify;">
    <p style="text-align: center;"><strong><h4>Web-Server</h4></strong>
    <p>IntelChipset:Intel C620 chipset (PCH), Dual x Intel® Xeon® Gold 6238R 2.2G, 28C/56T, 10.4GT/s, 38.5 M Cache, Turbo, HT,
        8x32GB (256GB) DDR4 RDIMM ECC Memory with Dual CPUs, 24 DIMM Slots,5x 480GB SSD SAS Mixed use 12Gbps 512e 2.5in Hot-Plug PM5-V Drive,3 DWPD, 2628 TBW10512 TBW,
        PERC H740P RAID Controller, 8Gb NV Cache, Adapter, Low Profile, 2 x SAS 12Gbps HBA External Controller,
        1 x Broadcom 57416 Dual Port 10GbE BASE-T & 5720 Dual Port 1GbE BASE-T,
        rNDC 1 x Broadcom 57416 Dual Port 10GbE BASE-T Adapter, PCIe Full Height,
        Dual, Hot-plug, Redundant Power Supply, maximum of 4x16 slots
        2 x Dedicated Management Ports,Ports/Interfaces: 2 x USB 2.0,2x VGA,1x Serial,2x USB 3.0
      </p>
    
      <p style="text-align: center;"><strong><h4>Mail- Server</h4></strong>
        <p>IntelChipset:Intel C620 chipset (PCH), Dual x Intel® Xeon® Gold 6238R 2.2G, 28C/56T, 10.4GT/s, 38.5 M Cache, Turbo, HT,
            8x32GB (256GB) DDR4 RDIMM ECC Memory with Dual CPUs, 24 DIMM Slots,5x 480GB SSD SAS Mixed use 12Gbps 512e 2.5in Hot-Plug PM5-V Drive,3 DWPD, 2628 TBW10512 TBW,
            PERC H740P RAID Controller, 8Gb NV Cache, Adapter, Low Profile, 2 x SAS 12Gbps HBA External Controller,
            1 x Broadcom 57416 Dual Port 10GbE BASE-T & 5720 Dual Port 1GbE BASE-T,
            rNDC 1 x Broadcom 57416 Dual Port 10GbE BASE-T Adapter, PCIe Full Height,
            Dual, Hot-plug, Redundant Power Supply, maximum of 4x16 slots
            2 x Dedicated Management Ports,Ports/Interfaces: 2 x USB 2.0,2x VGA,1x Serial,2x USB 3.0
          </p>
          <p style="text-align: center;"><strong><h4>Backup-Server</h4></strong>
            <p>IntelChipset:Intel C620 chipset (PCH), Dual x Intel® Xeon® Gold 6238R 2.2G, 28C/56T, 10.4GT/s, 38.5 M Cache, Turbo, HT,
                8x32GB (256GB) DDR4 RDIMM ECC Memory with Dual CPUs, 24 DIMM Slots,8 x 480GB SSD SAS Mixed use 12Gbps 512e 2.5in Hot-Plug PM5-V Drive,3 DWPD, 2628 TBW10512 TBW,
                PERC H740P RAID Controller, 8Gb NV Cache, Adapter, Low Profile, 2 x SAS 12Gbps HBA External Controller,
                1 x Broadcom 57416 Dual Port 10GbE BASE-T & 5720 Dual Port 1GbE BASE-T,
                rNDC 1 x Broadcom 57416 Dual Port 10GbE BASE-T Adapter, PCIe Full Height,
                Dual, Hot-plug, Redundant Power Supply, maximum of 4x16 slots
                2 x Dedicated Management Ports,Ports/Interfaces: 2 x USB 2.0,2x VGA,1x Serial,2x USB 3.0
              </p>
    
    
    <br>
    
      <p  style="text-align: center;"><strong><h4>Storage(SAN)</h4></strong>
    
              <p>Chassis 2U Rack, Dual Controllers with expansion options,
               Controllers	Active - Active SAS Dual Controllers and 8GB per controller
                12Gb SAS 8 Port Dual Controller,10X2.4TB 10K RPM SAS 12Gbps 512e 2.5in Hot-plug Hard Drive
              8x12Gb HD Mini-SAS to HD Mini-SAS 2M Cable, Rack (2U) with RAIL Kit
              </p><br>
    
    <p><strong><h4>Network Switch </h4></strong>
      <li>Ports: 28 x 10GBase-T ports, 2 x 40GbE SFP+ ports, 2 x 100GbE QFSP28 ports Support</li>
       <li>Uplinks: 4x 10GbE SFP+ ports (including SFP+ transceiver module)</li>
        <li>DRAM:	2 GB with ECC</li>
          <li>Flash:	2 GB</li>
           <li>CPU: 	Dual Core 1 GHz</li>
            <li>Switching capacity:	960Gbps</li>
             <li>Throughput:	720Mpps</li>
              <li>Latency: 	2500</li>
    
    
    
    
    
      </p><br>
    <p><strong><h4>Desktop computers</h4></strong>
                  <li>Base model:	Desktop pc </li>
                    <li>CPU:Intel® Core™ i7-10700 Processor(6/4.80GHz /3.30GHz/12MBcache)</li>
                     <li>RAM:32GB(16x2) RAM DDR4 2400MHz </li>
                       <li>Graphics card: 2GB AMD Radeon</li>
                      <li>Network port:	100/1000 RJ45 Ethernet</li>
                       <li>Operating System: 	Ubuntu Linux</li>
                             <li>Monitor:	21.5-inch LED Monitor</li>
    </p>
    
    
    
    
    </div>
    


{% endblock %}
