{% extends 'core/base.html' %}

{% load static %}
{% block content %}

<div id="root" class="container container-fluid my-4 py-2">
    <div id="main_lbl" class="text-center">
      <h2><strong >Contact details</strong></h2>
    </div><br><br>
<div class="text-center">
  <h3><b >Hostel Office</b><br><br></h3>
  <p style="font-size:  x-large;">
  Phone Number:  04368 - 265235-117<br><br>
  Mobile Number: 9442593088<br><br>
  Mail to: hosteloffice(at)nitpy(dot)ac(dot)in
</p>
</div><br><br>

<div class="text-center">
    <h3><b >Boys Hostel - I</b><br><br></h3>
  <p style="font-size:  x-large;">Security Desk Number: 04368 - 265235 (952)</p>
</div><br><br>

<div class="text-center">
    <h3><b >Girls Hostel</b><br><br></h3>
  <p style="font-size: x-large;">Security Desk Number: 04368 - 265235 (954)</p>
</div><br><br>
</div>

{% endblock %}