{% extends 'core/base.html' %}

{% load static %}
{% block content %}
<div id="root" class="container container-fluid my-4 py-2">
    <div id="main_lbl" class="text-center">
      <strong class="h2">Hostel </strong>
    </div><br><br>
    <h4><strong></strong></h4><br>
    <p>NIT Puducherry is a residential institute and provides accommodation to students in the hostels. NITPY has presently two boy’s hostel and one girl’s hostel
      that provides comfortable accommodation and are located close to the academic area. Presently over 800 students are residing in the hostels.<br>
      The first year UG students are accommodated in a 4/2-occupancy style accommodation. In subsequent year, double/triple occupancy are allotted depending on the strength of the hostel inmates. Each room comes equipped with requisite amount of lighting and electrical ports, a fan, a chair and table and a steel cot. Wi-fi facility is provided in the hostel premises. PG and Ph.D inmates are given double occupancy accommodation.<br>
      Staying in the campus is particularly attractive because the hostels are located in peaceful, clean, aesthetic environment in campus. The hostels are guarded round the clock by able private security staffs. Patrolling is also done by state security personnel during night. There are also separate wardens for each and every hostel in order to maintain discipline. Cleanliness and hygiene are taken care of and maintained in every aspect.<br>
      The Overall supervision and administration are looked after by the hostel administration and the Hostel Office. The dwelling places are as modern as they can be, and the hostels have impressive architecture. With activities like hostel day celebration, welcome parties and other festivals around the year, inmates will enjoy the pleasant stay in the hostel. This Hostel is home away from home and hostel life will play a huge role in transforming an individual in the journey of life. <br>
    </p>
    </div>
  
  
  
{% endblock %}