{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/home.css' %}">
<script src="{% static 'js/home.js' %}"></script>

<div class="bg-light">
   
    <div id="instituteCarousel" class="swiper mySwiper">
         {% include 'core/announcement_banner.html' %}
      <div class="swiper-wrapper">
        {% for slide in instituteCarouselSlides %}
          <div class="swiper-slide">
            <img src="{% static slide.link %}" alt="{{ slide.alt }}" class="slide-image">

          </div>
        {% endfor %}
      </div>
    </div>

  <div class="container container-fluid contnew">
    <div id="overlay" class="row m-5">
        {% for card in overlayCards %}
            <div class="col-md-3 col-lg-3">
                {% if card.link %}
                    <a href="{{ card.link }}">
                {% elif card.url %}
                    <a href="{{ card.url }}">
                {% endif %}
                        <div class="box">
                            <div class="text-center">
                                <strong class="h4">
                                    {{ card.title }}
                                    <h6>
                                        {% if card.new %}
                                            <span class="badge badge-danger">NEW</span><br>
                                        {% endif %}
                                    </h6>
                                </strong>
                            </div>
                            <br>
                            {{ card.content }}
                        </div>
                    </a>
            </div>
        {% endfor %}
    </div>
    <div class="row m-2">
      <div class="col-12 p-2">
          <div class="swiper-container" id="importantNewsSwiper">
              <div class="swiper-wrapper">
                  {% for item in importantNewsSlides %}
                      <div class="swiper-slide text-center">
                          <a href="{{ item.link }}">
                              <p style="color:rgb(253, 0, 0)">
                                  <b>{{ item.title }}</b>&nbsp;
                                  {% if item.new %}
                                      <span class="badge badge-danger">NEW</span>
                                  {% endif %}
                                  <br>
                              </p>
                          </a>
                      </div>
                  {% endfor %}
              </div>
          </div>
      </div>
  </div>

  
  <div class="row m-2">
    <div class="col-xs-12 col-sm-12 col-md-6 mb-2 mt-2">
      <div class="p-2 bg-white shadow rounded h-100" id="announcementWrapper">
        <div class="p-3">
          <h3><strong>Mission</strong></h3>


          <p style="text-align: justify;">
            – To create the infrastructure and academic environment on par with best benchmarks.<br>
            – To offer undergraduate, postgraduate and doctoral programmes in the technical fields of national
            importance.<br>
            – To collaborate for research and consultancy works with leading national and international laboratories,
            institutes, and industries.<br>
            – To train young minds in intellectual and ethical strengths for developing their capacity in the areas of
            science, engineering, and technology.<br>
            – To relentlessly pursue professional excellence with ethics.<br>
            – To implement continuously improving models of comprehensive education
          </p>
          <br>
          <h3><strong>Vision</strong></h3>
          <p>
            – To be among leading Indian Institutes for Excellent, Relevant, and value based Technical Education and
            Research.
          </p>

        </div>
      </div>
    </div>
    

    {% include 'core/photo_gallery.html' %}

  </div>
  <div class="row m-2">
    <div class="col-xs-12 col-sm-12 col-md-6 mb-2 mt-2"> 
    <div id="newsWrapper" class="p-2 bg-white shadow rounded">
        <a  href="announcements" class="btn btn-link" style="font-size: 150%; color: black;text-decoration: none;">
            <h3><strong >Announcements</strong></h3>
        </a>
        <div class="swiper-container aan1" id="announcementsCarousel">
            <div class="swiper-wrapper aan2">
                {% for item in announcements %}
                    <div class="swiper-slide aan3" id="news">
                        <div class="h-100" id="news_item">
                            {% if item.link %}
                                <a href="{% url item.link %}">
                                    <p>
                                        {{ item.title }} 
                                        {% if item.new %}
                                            <span class="badge badge-danger">NEW</span>
                                        {% endif %}
                                    </p>
                                </a>
                            {% elif item.url %}
                                <a href="{% static item.url %}">
                                    <p>
                                        {{ item.title }} 
                                        {% if item.new %}
                                            <span class="badge badge-danger">NEW</span>
                                        {% endif %}
                                    </p>
                                </a>
                            {% endif %}
                            <hr>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 mb-2 mt-2">
        <div class="p-3 bg-white shadow rounded" style="width: 523px;" >
            <h3 class="p-2"><strong>Welcome</strong></h3>
            <div id="welcome" class="p-3">
                
                 
                <p id="shortText" style="text-align: justify;" ><span class="quote d-inline-block text-left">“</span>
                    National Institute of Technology Puducherry (NITPY), nestled in the scenes of Karaikal,
                    a coastal enclave in the basin of river Kaveri is one among the ten new NITs in the Union
                    Territory of Puducherry. Notwithstanding the tender age, NITPY is committed to produce effective
                    and responsible technocrats who have the ability to serve the nation on its journey to growth and
                    prosperity. In this process, students have been admitted from the academic year 2010-11 onwards
                    through JEE Mains with 50% of seats reserved for the candidates having residence/native at Puducherry,
                    Karaikal, Mahe, Yanam and the remaining 50% seats are filled on all India basis.
                    The institute provides keen...
                <p id="fullText" style="display: none; text-align: justify;"><span class="quote d-inline-block text-left">“</span>
                    National Institute of Technology Puducherry (NITPY), nestled in the scenes of Karaikal,
                    a coastal enclave in the basin of river Kaveri is one among the ten new NITs in the Union
                    Territory of Puducherry. Notwithstanding the tender age, NITPY is committed to produce effective
                    and responsible technocrats who have the ability to serve the nation on its journey to growth and
                    prosperity. In this process, students have been admitted from the academic year 2010-11 onwards
                    through JEE Mains with 50% of seats reserved for the candidates having residence/native at Puducherry,
                    Karaikal, Mahe, Yanam and the remaining 50% seats are filled on all India basis.
                    The institute provides keen guidance in terms of experienced and expert faculties as well as
                    facilities to sculpt the bright minds into professionally balanced individuals, capable enough
                    to take up challenges of nature, of society and of the marketplace. Presently, 56 faculty members
                    along with 36 non-teaching staff are employed for an overall strength of 923 students. Students
                    are exposed to the most modern and up-to-date curriculum and contemporary developments in various
                    disciplines of engineering. In addition to scientific and engineering skills, the institute provides
                    scope to our upcoming graduates to get exposure to team work on experimental projects, presentations
                    and communication skills and active participations in all extracurricular activities. Since necessity
                    is the mother of inventions, our students have participated in every corner of need and took the chaos
                    of early years as an opportunity to grow with self-determination and innovation. To mention, the institute
                    website and many laboratory experiments were designed and fabricated by them. The institution is at a constant
                    attempt of making endeavours to scale new heights by developing a synergy between studies, research, and consulting/training activities.
                    <span class="quote d-block text-right">”</span>
                </p>
                <button id="other" onclick="toggleText()">Read More</button>
                <p style="text-align: right;">-Director, NIT Puducherry</p>
                <br>
            </div>
        </div>
    </div>  

  </div>
  <div class="row m-2">

    <div class="col-xs-12 col-sm-12 col-md-6 mb-2 mt-2">
        <div class="p-3 bg-white shadow rounded " id="announcementWrapper" >
            <h3 class="p-2"><strong>Annual Report</strong></h3>
            <span class="quote d-inline-block text-left">“</span>
            <p class="p-2">It is a silver lining to forward the first issue of the fourth volume of NIT
                Puducherry bi-annual newsletter, "PARIPRASHNA". When the whole world
                has transformed drastically to tackle COVID’19, the NITPY community has
                found ways to adapt and evolve in this difficult times. The successful completion of online classes and
                assessments and also the achievements and laurels of the faculty and students as seen from the contents of this newsletter, are
                proof to the fast-paced adaptation and commitment to continuous learning.
                Even though the Institute has been functioning online, it has only opened new
                avenues and opportunities towards learning and excellence</p>
            <span class="quote d-block text-right">”</span>
            <p style="text-align: right;">-Director, NIT Puducherry</p>
            <a id="report_button" class="float-right mb-3" href="{% url 'newsletter' %}">Click for Report</a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 mb-2 mt-2">
        <div id="announcementWrapper" class="p-3 bg-white shadow rounded">
            <a  href="announcements/tenders" class="btn btn-link" style="font-size: 150%; color: black;text-decoration: none;">
                <h3><strong >Tenders</strong></h3>
            </a>
            <div class="swiper-container aan1" id="announcementsCarousel">
                <div class="swiper-wrapper aan2">
                    {% for item in tendersCarouselSlides %}
                    <div class="swiper-slide aan3" id="news">
                        <div class="h-100 overflow-hidden" id="news_item">
                            <a href="{% static item.link %}">
                                <p>
                                    {{ item.title }}
                                    {% if item.new %}
                                        <span class="badge badge-danger">NEW</span>
                                    {% endif %}
                                </p>
                            </a>
                            <hr>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


    <div class="row p-2 m-2">
        <div class="col-12 m-2" id="eventsWrapper">
            <a href="announcements/upcomingEvents" class="btn btn-link" style="font-size: 150%; color: black; text-decoration: none;">
                <h3><strong>Upcoming Events</strong></h3>
            </a>
            <div class="p-2">
                <div class="swiper-container" id="eventsCarousel">
                    <div class="swiper-wrapper">
                        {% for item in eventsCarouselSlides %}
                            <div class="swiper-slide">
                                <div class="card">
                                    <a href="{{ item.link }}">
                                        <div class="card-img-wrap">{% load static %}
                                            <img src="{% static item.img %}" class="card-img-top" alt="{{ item.alt }}">
                                         </div>
                                        <div class="card-body" id="Events">
                                            <div class="card-date">
                                                <p class="card-text">{{ item.date }}</p>
                                            </div>
                                            <p class="card-text">{{ item.category }}</p>
                                            <h5 class="card-title">{{ item.title }}</h5>
                                            <p class="card-text">{{ item.dept }}</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        
       
    </div>
    
        <div class="row p-2 m-2">
            <div class="col-12 m-2" id="eventsWrapper">
                <a href="announcements/researchComponents" class="btn btn-link" style="font-size: 150%; color: black; text-decoration: none;">
                    <h3><strong>Current Research</strong></h3>
                </a>
                <div class="p-2">
                    <div class="swiper-container" id="eventsCarousel">
                        <div class="swiper-wrapper">
                            {% for item in researchCarouselSlides %}
                            <div class="swiper-slide">
                                <div class="card">
                                    <a href="{{ item.link }}">
                                        <div class="card-img-wrap">
                                            <img src="{% static item.img %}" class="card-img-top" alt="{{ item.alt }}">
                                        </div>
                                        <div class="card-body" id="Research">
                                            <h5 class="card-title">{{ item.title }}</h5>
                                            <h6 class="card-subtitle mb-2 text-muted">{{ item.authors|join:", " }}</h6>
                                            <p class="card-text">{{ item.dept }}</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div><br>
                </div>
            </div>
        </div>

    <div class="text-center titleText">
        <strong ><h3>Statistics</h3></strong>
    </div>
    <div class="row m-2 pb-2 mb-2">
        {% for stat in stats %}
        <div id="stats" class="d-flex col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 p-2 justify-content-center">
            <div class="d-flex justify-content-center align-items-center circle rounded-circle">
                <div class="circle-inner-wrapper d-flex flex-wrap justify-content-center align-items-center">
                    <h5>{{ stat.title }}</h5>
                    <span class="break"></span>
                    <h5>{{ stat.subtitle }}</h5>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    

    <div class="row m-2">
        <div class="col p-2 m-2 bg-white shadow rounded">
            <h3 class="p-2"><strong>Other Links</strong></h3>
            <div class="row m-2">
                <div class="col d-flex justify-content-center"><a class="p-2 m-2" id="other" href="/institute/contact"><strong>Contacts</strong></a></div>
                <div class="col d-flex justify-content-center"><a class="p-2 m-2 " id="other" href="/Reach_us"><strong>Reach Us</strong></a></div>
                <div class="col d-flex justify-content-center"><a class="p-2 m-2" id="other" href="https://www.education.gov.in/en"><strong>MoE</strong></a></div>
                <div class="col d-flex justify-content-center"><a class="p-2 m-2" id="other" href="https://www.nirfindia.org/Home"><strong>NIRF</strong></a></div>
                <div class="col d-flex justify-content-center"><a class="p-2 m-2" id="other" href="https://nitpy.irins.org/"><strong>IRINS</strong></a></div></div>
            
            </div>
        </div>
    </div>

  </div>    
</div>
{% endblock %}
