{% load static %}


{% block content %}

<link rel="stylesheet" href="{% static 'css/sidebar.css' %}"><div id="sidebar" class="col-sm-3">
    <strong class="titleHead text-center">
      <a href="{{ mainLink.link }}">{{ mainLink.title }}</a>
    </strong>
    <ul>
      {% for item in links %}
        <li>
          <a href="{{ item.link }}">{{ item.title }}
            {% if item.new %}
            <h6 class="badge badge-danger">NEW</h6>
            {% endif %}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
  
{% endblock %}

  