{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/convocation.css' %}">
<script src="{% static 'js/convocation.js' %}"></script>

<div id="root" class="container container-fluid my-4 py-2">
    <div id="mainLabel" class="text-center">
      <strong class="h1">Placement Statistics</strong>
    </div>
    <br><br>
    
  <div id="rootWrapper">
    <div id="root" class="container"><br>
  <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
    <div class="card">
        <div class="card-header" role="tab" id="heading">
          <a data-toggle="collapse" data-parent="#accordionEx" href="#collapse5" aria-expanded="true"
            aria-controls="collapse5">
            <h5 class="mb-0" style="text-align: center; color: aliceblue;">
              Placement Statistics (2024 -2025)
            </h5>
          </a>
        </div>
        <div id="collapse5" class="collapse show" role="tabpanel" aria-labelledby="heading"
          data-parent="#accordionEx" style="border-style: solid;">
      
          <!-- Django table rendering -->
          <table class="table">
            <thead>
              <tr>
                {% for column in tableData.columns %}
                <th>{{ column }}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for row in tableData.data %}
              <tr>
                {% for item in row %}
                <td>{{ item }}</td>
                {% endfor %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
      
        </div>
      </div>
      <br>
      <div class="card">
        <div class="card-header" role="tab" id="heading">
          <a data-toggle="collapse" data-parent="#accordionEx" href="#collapse4" aria-expanded="true"
            aria-controls="collapse4">
            <h5 class="mb-0" style="text-align: center; color: aliceblue;">
              Placement Statistics (2023 -2024)
            </h5>
          </a>
        </div>
        <div id="collapse4" class="collapse" role="tabpanel" aria-labelledby="heading"
          data-parent="#accordionEx" style="border-style: solid;">
          
          {% for index in placementstat23 %}
            <div class="card-body">
              <a id="item" href="{{ index.url }}" style="text-decoration: none">{{ index.title }}</a>
            </div>
          {% endfor %}
      
        </div>
      </div>
      <br>
      <div class="card">
        <div class="card-header" role="tab" id="heading">
          <a data-toggle="collapse" data-parent="#accordionEx" href="#collapse2" aria-expanded="true"
            aria-controls="collapse2">
            <h5 class="mb-0" style="text-align: center; color: aliceblue;">
              Placement Statistics (2022 -2023)
            </h5>
          </a>
        </div>
        <div id="collapse2" class="collapse" role="tabpanel" aria-labelledby="heading"
          data-parent="#accordionEx" style="border-style: solid;">
      
          {% for index in placementstat22 %}
            <div class="card-body">
              <a id="item" href="{{ index.url }}" style="text-decoration: none">{{ index.title }}</a>
            </div>
          {% endfor %}
      
        </div>
      </div>
      <br>
      
      <div class="card">
        <div class="card-header" role="tab" id="heading">
          <a data-toggle="collapse" data-parent="#accordionEx" href="#collapse1" aria-expanded="true"
            aria-controls="collapse1">
            <h5 class="mb-0" style="text-align: center; color: aliceblue;">
              Placement Statistics (2021 -2022)
            </h5>
          </a>
        </div>
        <div id="collapse1" class="collapse" role="tabpanel" aria-labelledby="heading"
          data-parent="#accordionEx" style="border-style: solid;">
      
          {% for index in placementstat21 %}
            <div class="card-body">
              <a id="item" href="{{ index.url }}" style="text-decoration: none">{{ index.title }}</a>
            </div>
          {% endfor %}
      
        </div>
      </div>
      <br>

   </div><br>

   <div id="mainLabel" class="text-center">
    <strong class="h1">Our Recruiters</strong>
  </div>
  <br>


  <div id="image" class="justify-content-center">
    <img style="width: 100%; height: 100%;" src="/static/images/placement_cell/past recruiters 2020-2023.png">
  </div>
</div>
<br>

{%endblock%}